html,
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 20rem;
  min-height: 22rem;
  border: 0.8rem solid cornflowerblue;
  border-radius: 0.8rem;
  background-color: cornflowerblue;
  outline: 0.5rem solid rgb(67, 98, 156);
}

.display {
  height: 5rem;
  text-align: right;
  border: 6px solid rgb(87, 128, 204);
  border-radius: 1rem;
  padding-right: 5px;
  background-color: aliceblue;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}
.cancelBtn {
  min-width: 50%;
}
.buttons button {
  width: 25%;
  height: 4rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  border: 5px solid cornflowerblue;
  cursor: pointer;
  font-family: monospace;
  color: rgb(30, 64, 128);
}

button:hover {
  background-color: rgb(243, 243, 149);
}
#zero {
  width: 50%;
}

footer {
  display: block;
}
